/*CSS reset*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


/* targets the html element body*/
body{
	/*background-color: skyblue;*/
	/*background-image: url("../images/bg.jpg");*/
	background-image: linear-gradient(rgba(229,174,134,.50),rgba(238,197,169,.25),rgba(255,255,255,.25)), url("../images/bg.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	color: #585858; /*off-white*/
}
/* end of body styling*/

/*targets h1 styling*/
h1{
	font-size: 50px;
	color: #f2f2f2;
	/*background-color: #333;*/
	background-color: rgba(121,63,13,0.75);
	text-transform: uppercase;
	margin-bottom: 15px;
	letter-spacing: 2px;
	font-family: 'Lato', sans-serif;
	border-radius: 3px;
	text-shadow: 3px 2px #A8A8A8;
}
/* end of h1 styling*/

/*targets h2 styling*/
h2{
	/*color: #f2f2f2;*/
	text-transform: uppercase;
	letter-spacing: 4px;
	font-family: 'Lato', sans-serif;
	margin-bottom: 15px;
	background-color: rgba(172,112,61,0.50);
	/*background-color: #333;*/
	/*margin: 10px; adds space outside of the element*/
	padding: 10px; /*adds space inside the element*/
	border-radius: 3px;
	text-shadow: 3px 2px #A8A8A8;

}
/* end of h2 styling*/

/*targets bio styling*/
.bio {
	font-family: 'Poppins', sans-serif;
	font-size:18px;
	/*background-color: rgba(195,142,99,0.25);*/
	background-color: rgba(199,195,151,0.45);
	line-height: 1.75;
	border-radius: 3px;
	padding: 5px;
}
/* end of bio styling*/

/*targets the element with the id me*/
#me {
	height: 200px;
	width: 200px;
	border-radius: 50%;
	/*border-color: white;*/
	border-color: rgba(121,63,13,0.50);
	border-width: 5px;
	border-style: solid;
	margin-top: 50px;
	margin-bottom: 25px;
}
/* end of id me*/

.container {
	width: 500px;
	text-align: center;
	margin:0 auto; /* this will center the element horizontally*/
}
